.rodape{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 40px;

}


.button:hover{
    cursor: pointer;
}