html {
  font-family: 'Poppins', sans-serif;
  background: #4B69FD;
  border: 2px solid black;
  font-family: 'Poppins', sans-serif;

}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
}

h1{
  font-weight: 600;;
  font-size: 32px;
  color: #4B69FD;
}

.btn{
  width: 351px;
  height: 80px;
  border: 2px solid #000;
  border-radius: 37.5px;
  background-color: #FE652B;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

input{
  padding: 0 15px !important;
}